.container {
    background-color: #610C04;
    align-items: stretch;
    border:200px solid #610C04;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-width: 0ch;
    list-style: none;
}

.container ul {
    list-style: none;
    display:flex;
    align-items: center;
    float: left;
    color: white;
    margin-left: -20px;
}

.prior {
    width: 150px;
    height: 70px;
    color: black;
    background-color: #F8BF87;
    border-radius: 13px;
    font-size: 20px;
    border: 10px solid #F8BF87;
}

.prior Button{
    font-size: 18px;
}

.main {
    margin-right: 250px;
}