.container {
    background-color: #922324;
    align-items: center;
    justify-content: space-between;
    height:900px;
    margin-bottom:20px;
    border: 100px solid #922324;
    color:white;
    display: flex;
    font-family: Roboto, sans-serif;
    margin-left: -50px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}

.container ul li {
    list-style:none;
    margin: 40px 40px 0px 55px;
    text-align: left;
    justify-content: space-between;
    margin-top:60px;
    border: 50px solid transparent;    
    background-color: #7E4647;
    border-radius: 40px;
    width: 743px;
    height: 669px;
}

.con {
    float: left;
    margin-left: -30px;
}

.con input {
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid black;
    color: white;
    justify-content: space-around;
}

.con input[type=Name] {
    width: 630px;
    height: 46px;
}

.con input[type=Address] {
    width: 630px;
    height: 103px;
}

.mid input[type=Add] {
    width: 310px;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.con input[type=Num] {
    width: 310px;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.last {
    display: flex;
    align-items: center;
    margin-top: -30px;
}

.last1 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.con h5 {
    font-size: 32px;
}

.con img {
    float: right;
    margin-left: 100px;
}

.mid {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.container h1 {
    font-size: 55px;
    margin-top: -50px;
}

.last p {
    margin-left: 20px;
}

.right {
    margin-top: -40px;
    margin-left: 40px;
}

.right h6{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
}

.btn {
    display: flex;
    align-items: center;
}

.btn Button {
    margin-right: 240px;
    width: 130px;
    height: 40px;
    background-color: #D9D9D9;
    color:black;
    border-radius: 13px;
    font-size: 20px;
}

.last Button {
    font-size: 20px;
    width:289px;
    height: 43px;
    background-color: #D9D9D9;
    color:black;
    border-radius: 13px;
    border: 3px solid black;
    text-align: left;
}